<nav class="navbar navbar-expand-md navbar-dark bg-blue">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="assets/images/logo.png" alt="Angular Project" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/course" routerLinkActive="active" class="nav-link">Courses</a>
          </li>
          <li class="nav-item">
            <a routerLink="/page/about" routerLinkActive="active" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact Us</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/registration" routerLinkActive="Active" class="nav-link">Registration</a>
          </li>
          <li class="nav-item">
            <a routerLink="/Log" routerLinkActive="Active" class="nav-link">Login</a>
          </li>
      </ul>
  
      </div>
    </div>
  </nav>