
<section class="blog-list mtb-40">
    <div class="container">
      <h1>Courses</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img1.png" alt="blog1" />
            <h3>Angular 7 Full Course</h3>
            <p>by <span>Sahosoft Tutorials</span> </p>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a routerLink="/course/1" routerLinkActive="active" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.png" alt="blog1" />
            <h3>Python Full Course</h3>
            <p>by <span>Sahosoft Tutorials</span> </p>
            <p>Python is one of the high-level general programming languages, interpreted, easy to use,complete and powerful. It is an object..</p>
            <a routerLink="/course/2" routerLinkActive="active" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img3.png" alt="blog1" />
            <h3>Angular Material course</h3>
            <p>by <span>Sahosoft Tutorials</span> </p>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img4.png" alt="blog1" />
            <h3>Entity Framework Course</h3>
            <p>by <span>Sahosoft Tutorials</span> </p>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img5.png" alt="blog1" />
            <h3>CSS Course</h3>
            <p>by <span>Sahosoft Tutorials</span> </p>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img6.png" alt="blog1" />
            <h3>TypeSript Course</h3>
            <p>by <span>Sahosoft Tutorials</span> </p>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>