<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img1.png" alt="blog1" />
            <h3>Angular 7 Full Course</h3>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..
            </p>
            <a href="#" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.png" alt="blog1" />
            <h3>Python Full Course</h3>
            <p>Python is one of the high-level general programming languages, interpreted, easy to use,complete and powerful. It is an object..</p>
            <a href="#" class="btn btn-danger">Read more...</a>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img3.png" alt="post1" />
            <h3>Angular Material course</h3>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img4.png" alt="post2" />
            <h3>Entity Framework Course</h3>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img5.png" alt="post3" />
            <h3>CSS Course</h3>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img6.png" alt="post4" />
            <h3>TypeScript Course</h3>
            <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>