<div class="right-widget recent-post">
    <h3>Recent Posts</h3>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img1.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Angular 7 Features</h4>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img2.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Python Project Setup</h4>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img3.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Angular Material example</h4>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img4.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Entity Framework Features</h4>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img5.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>CSS 3 Example</h4>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
  </div>
